*{
    margin: 0;
    padding: 0 ;
}

.principal{
    width: 800px;
    height: 600px;
    background-image:url( "Pictures/gameboy.png");
    background-repeat: no-repeat;
    background-size: cover;
}

canvas{
    background-color:violet ;
    position: absolute;
    top:190px;
    left:230px
    ;
}

.start{
    width: 25px;
    height: 25px;
    background-color: brown;
    position: absolute;
    top: 377px;
    left: 162px;
    border-radius: 50%;
}